<div class="row">
    <div class="col-sm-12">
        @await Html.PartialAsync("SearchString")        
        <p class="unsuccessful-message text-sm-center my-sm-4">К сожалению, по Вашему запросу ничего не удалось найти  <i class="bi bi-emoji-frown"></i></p>
    </div>
</div>
