<div class="list-group">
    <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="list-group-item list-group-item-info">Заказы</a>
    <a asp-area="Admin" asp-controller="User" asp-action="Index" class="list-group-item list-group-item-info">Пользователи</a>
    <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="list-group-item list-group-item-info">Роли</a>
    <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="list-group-item list-group-item-info">Продукты</a>
</div>
