<div class="row">
    <div class="col-sm-12">
        <h3 class="my-sm-4 page-title">Корзина</h3>
        <p class="unsuccessful-message text-sm-center my-sm-4">В корзине пока ничего нет <i class="bi bi-emoji-frown"></i></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center my-sm-5">
        <a asp-controller="Home" class="btn btn-outline-info" type="button">Продолжить покупки</a>
    </div>
</div>