<footer class="border-top footer text-muted table-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 my-sm-4">
                <h5 class="footer-info-header text-info text-sm-center">Контакты</h5>
                <div class="my-sm-4">
                <p class="text-info">E-mail: musicworld@mail.ru</p>
                <p class="text-info">WhatsApp: +7(999)333-12-54</p>
                </div>
            </div>
            <div class="col-sm-3 my-sm-4">
                <h5 class="footer-info-header text-info text-sm-center">Адреса магазинов</h5>
                <div class="my-sm-4">
                <p class="text-info">г. Москва, ул. Музыкальная д.5</p>
                    <p class="text-info">г. Санкт-Петербург, ул. Вдохновения д.12 (вход со двора)</p></div>
            </div>
            <div class="col-sm-3 my-sm-4">
                <h5 class="footer-info-header text-info text-sm-center">Наши соцсети</h5>
                <div class="text-sm-center my-sm-4">
                    <img src="~/images/icons/icons8-instagram-48.png" />
                    <img src="~/images/icons/icons8-vk-в-круге-48.png" />
                    <img src="~/images/icons/icons8-youtube-play-48.png" />
                    <img src="~/images/icons/icons8-телеграмма-app-48.png" />
                </div>
            </div>
            <div class="col-sm-3 my-sm-4">
                <h5 class="footer-info-header text-info text-sm-center">Обратная связь</h5>
                    <div class="my-sm-4">
                <p class="text-info">Нам важно мнение наших клиентов. Вы всегда можете оставить свое мнение о нас, заполнив <a href="#">форму обратной связи</a> или написав нам в соц сети.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
               Copyright &copy; 2022 - Все права защищены
            </div>
        </div>
    </div>
</footer>
