@using OnlineShopWebApp.ViewModels
@model RegisterViewModel

<div class="row text-center">
    <div class="col-sm-12">
        <h3 class="card-title my-sm-4">Смена пароля</h3>
        <form method="post">
            <div class="validation" asp-validation-summary="ModelOnly"></div><br />
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <input asp-for="Email" type="hidden">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Пароль">
                    <span class="alert-danger" asp-validation-for="Password"></span><br />
                    <input asp-for="PasswordConfirm" type="password" class="form-control" placeholder="Повторите пароль">
                    <span class="alert-danger" asp-validation-for="PasswordConfirm"></span>
                    <button type="submit" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" class="btn btn-outline-success my-sm-5">Изменить пароль</button>
                </div>
            </div>
        </form>
    </div>
</div>
